# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
 
- Popular programming lanuages used by data scientics
- Commonly used libraries
- Commonly used data science tools

Some of the popular languages that Data Scientists use are:  
1. Python  
2. R  
3. SQL  
4. Java

Some of the commonly used libraries used by Data Scientists include:  
1. Pandas  
2. NumPy  
3. Scikit-Learn  
4. Keras

| Data Science Tools|
| --- |
RStudio
Apache Spark
TensorFlow
Apache Hadoop

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author  
Madhan Raj M